@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  background: #bc8f8f;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wordmark {
  display: flex;
  align-self: flex-start;
  font-family: "Cherry Swash", cursive;
  font-size: 1.5rem;
  color: #967272;
}

.credits {
  display: flex;
  align-self: flex-end;
  font-family: "Cherry Swash", cursive;
  font-size: 1rem;
  color: #967272;
}

button {
  display: flex;
  margin: 0 auto 30vh;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:focus {
  outline: 0;
}

.stack {
  position: absolute;
}

.cardWrapper {
  position: absolute;
  width: 100vw;
  height: 95vh;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vh;
  max-width: 400px;
  height: 60vh;
  max-height: 450px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(109, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
  border: 10px solid #ececec;
  /* font-family: "Cherry Swash", cursive; */
  font-size: 25px;
  font-size: 3.5vh;
  font-family: "Solway", serif;
  line-height: 33px;
  line-height: 5vh;
  text-align: center;
}

.cardQuestions {
  display: flex;
  padding: 0 1.7rem;
}

.cardId {
  display: flex;
  align-self: flex-end;
  font-style: italic;
  font-size: 3.5rem;
  color: #ececec;
  padding: 0 0.05em;
}
