@import url("https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

.app {
  background: #bc8f8f;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.wordmark {
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  left: 16px;
  top: 8px;
  align-self: flex-start;
  font-family: "Cherry Swash", cursive;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5vh 0;
}

.credits {
  display: flex;
  align-self: flex-end;
  margin: 0 8px 4px 0;
  font-family: "Cherry Swash", cursive;
  font-size: 1rem;
}

button {
  display: flex;
  align-self: center;
  margin: 20vh 0 auto;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:focus {
  outline: 0;
}
