@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  background: rosybrown;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wordmark {
  display: flex;
  align-self: center;
  margin: 85vh 0 0 -3vw;
  font-family: "Pacifico", cursive;
  font-size: 21vw;
  color: #967272;
}

button {
  font-family: "Solway", serif;
  font-size: 2rem;
  overflow: hidden;
  margin: 29vh auto;
  display: flex;
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 10px solid #ececec;
  transition: all 0.4s ease 0s;
}

button:focus {
  outline: 0;
}

.stack {
  position: absolute;
}

.cardWrapper {
  position: absolute;
  width: 100vw;
  height: 95vh;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vh;
  max-width: 400px;
  height: 60vh;
  max-height: 450px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 15px rgba(50, 50, 73, 0.15);
  border: 10px solid #ececec;
  padding: 0 1.7rem;
  line-height: 33px;
  line-height: 5vh;
  text-align: center;
  font-size: 25px;
  font-size: 3.5vh;
  font-family: "Solway", serif;
}
